/* background image */
#worldmap {
    background-color: black;
    background-image: url(../img/worldmap/worldmap.png);
    background-size: cover;
}

#wrapper {
    width: 1500px;
    margin: auto;
}

#sidebar {
    background-color: red;
    width: 500px;
    height: 1000px;
    float: left;
}

#title {
    color: white;
    margin: 300px, 50px, 0px, 50px;
}

#title h1 {
    font-size: 40px;
}

#title p {
    font-size: 14px;
}

/* photo gallery */
#main {
    background-color: blue;
    width: 1000px;
    height: 850px;
    color: white;
    float: left;
}

#main .small-photo {
    background-color: pink;
    width: 250px;
    height: 850px;
    opacity: 0.8;
    float: left;
}

#main #big-photo {
    background-color: purple;
    width: 500px;
    height: 850px;
    float: left;
}

/* toolbar */
#toolbar {
    background-color: green;
    width: 1000px;
    height: 150px;
    float: left;
}

#nav {
    background-color: orange;
    display: flex;
    margin-top: 0px;
    padding: 20px 0px;
}