/* background image */
#worldmap {
    background-color: black;
    background-image: url(../img/worldmap/worldmap.png);
    background-size: cover;
}

#wrapper {
    width: 1500px;
    margin: auto;
}

#sidebar {
    /* background-color: red; */
    width: 500px;
    height: 1000px;
    float: left;
}

#title {
    color: white;
    margin: 300px, 50px, 0px, 50px;
}

#title h1 {
    font-size: 40px;
}

#title p {
    font-size: 14px;
}

/* photo gallery */
#main {
    /* background-color: blue;*/
    width: 1000px;
    height: 850px;
    color: white;
    float: left;
}

#main .small-photo {
    /* background-color: pink;*/
    width: 250px;
    height: 850px;
    opacity: 0.8;
    float: left;
}

#main #big-photo {
    /* background-color: purple;*/
    width: 500px;
    height: 850px;
    float: left;
}

.adjust-small-photo {
    text-align: center;
    margin-top: 300px;
}

.adjust-big-photo {
    text-align: center;
    margin-top: 50px;
}

/* drop shadow */
.shadow {
    filter: drop-shadow(10px 10px 2px rgba(0,0,0,0.7))
}

/* on mousehover */
.img-movement:hover {
    cursor: pointer;
    transform: translateY(5px);
}

/* onclick -> transparent */
.img-movement:active {
    opacity: 0.7;
}

/* toolbar */
#toolbar {
    /* background-color: green;*/
    width: 1000px;
    height: 150px;
    float: left;
    color: white;
    text-align: center;
}

#nav {
    /* background-color: orange;*/
    display: flex;
    margin-top: 0px;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
}

/* prev and next button */
#prev {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background: url(../img/arrow/arrow-left.svg) no-repeat;
}

#next {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background: url(../img/arrow/arrow-right.svg) no-repeat;
}

/* on mousehover -> point */
#prev:hover, #next:hover {
    cursor: pointer;
}

/* on click -> move a little */
#prev:active, #next:active {
    transform: translateY(2px);
}

/* page number */
#page {
    width: 25px;
    color: white;
}